RewriteEngine On
RewriteCond %{REQUEST_URI} !^/index\.php
RewriteCond /home/bayusapp/jejak/public%{REQUEST_URI} -f
RewriteRule ^(.\*)$ /home/bayusapp/jejak/public/$1 [L]

RewriteCond %{REQUEST_URI} !^/index\.php
RewriteRule ^(.\*)$ index.php [L]
