<IfModule mod_rewrite.c>

RewriteEngine On

# redirect root ke public

RewriteRule ^$ public/ [L]

# apabila bukan folder public

RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.\*)$ public/$1 [L]

</IfModule>
<Files ".env">
    Order allow,deny
    Deny from all
</Files>
<Files ".gitignore">
    Order allow,deny
    Deny from all
</Files>
